# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
*.tsbuildinfo

# Environment & Local Configuration
.env
.env.local
.env.*.local
.config.mark.local
.config.mark.*.local


# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Misc
*.pid
*.seed
*.pid.lock
*.zip
coverage/
*docs/
